/*******************************
GENERAL
*******************************/

* {
    margin: 0;
    padding: 0;
    vertical-align:top;
    box-sizing: border-box;
}
*:focus {
	outline: none;
}
a {
    text-decoration: none;
}

body {
    width: 800px;
    margin: auto;
    background: #202020;
    color: #9f9f9f;
}

code {
    font-family: 'Courier New', Courier, monospace !important;
    vertical-align: middle;
}

#header {
    display: block;
    margin: 10px 0;
}

#row {
    width: 100%;
}

#app, #ad {
    display: inline-block;
}

#app {
    width: 275px;
    height: 348px;
    background-image: url(assets/wa.png);
    margin-bottom: 10px;
    margin-right: 10px;
}

#ad {
    width: 515px;
    height: 348px;
    object-fit: cover;
}

#dir, #faq {
    display: block;
    background: black;
    /*border: 1px solid dimgray;*/
    padding: 8px 16px 16px 16px;
    margin-bottom: 10px;
}

#btns {
	text-align: right;
	margin: 0 4px 10px 4px;
}

#btns img {
    width: 88px;
    height: 31px;
}

/*******************************
ARTISTS
*******************************/

.check {
	display: none;
}
.check + label {
	font-size: 24px;
	cursor: pointer;
	display: inline-block;
	padding: 0;
    /*font-family: 'Noto Serif', 'Noto Serif JP', 'Times New Roman', serif;*/
    font-family: 'Noto Sans', 'Noto Sans JP', Arial, sans-serif;
    color: darkgray;
}
.check + label:nth-child(odd) {
    color: gray;
}
.check:not(:checked) + label:hover {
    color: gainsboro;
}
.check:checked + label {
    color: #bf3e30;
}
.check:checked + label:nth-child(odd) {
    color: #bf308f;
}

/*******************************
ALBUMS
*******************************/

#dir ul {
	list-style-type: none;
    /*font-family: 'Noto Serif', 'Noto Serif JP', 'Times New Roman', serif;*/
    font-family: 'Noto Sans', 'Noto Sans JP', Arial, sans-serif;
}
#dir li {
    margin-left: 2em;
}
#dir .check:checked + label + ul {
    margin: 1em 0;
}
#dir li a {
    font-size: 16px;
	display: none;
}
#dir .check:checked + label + ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#dir .check:checked + label + ul > li:not(:last-of-type) {
    margin-bottom: 12px;
}
#dir .check:checked + label + ul a {
	display: inline;
}
#dir li > a {
    color: darkgray;
}
#dir li > a:hover {
    color: #bf3e30;
    cursor: pointer;
}
#dir > label:nth-child(odd) + ul > li > a:hover {
    color: #bf308f;
}
#dir li > a:hover::before {
    content: '▸ ';
}

/*******************************
COVERS
*******************************/

#dir img {
    width: 0;
    height: 0;
    float: left;
    background: darkgray;
    margin-right: 8px;
    margin-top: 1px;
    display: none;
}
#dir .check:checked + label + ul img {
    display: inline;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

/*******************************
DOWNLOAD LINKS
*******************************/

#dir br {
    display: none;
}
#dir .check:checked + label + ul br {
    display: inline;
}

#dir .check:checked + label + ul li > span > a {
    margin: 4px 8px 0 0;
    text-align: center;
    background: #222;
    color: dimgray;
    display: inline-block;
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 4px 8px;
    opacity: 1;
}
#dir .check:checked + label + ul li > span > a:hover {
    background: #bf3e30;
    color: #202020;
    opacity: 1;
}
#dir .check:checked + label:nth-child(odd) + ul li > span > a:hover {
    background: #bf308f;
}

/*******************************
FAQ
*******************************/

#faq * {
    /*font-family: 'Noto Serif', 'Noto Serif JP', 'Times New Roman', serif;*/
    font-family: 'Noto Sans', 'Noto Sans JP', Arial, sans-serif;
}
#faq h1 {
    font-size: 24px;
    font-weight: normal;
    color: darkgray;
    margin-bottom: 4px;
}
#faq h1:hover {
    color: gainsboro;
}
#faq > a:not(:first-child) > h1 {
    margin-top: 16px;
}
/*
#faq > a > h1:hover
#faq > a:nth-of-type(even) h1:hover
*/
#faq > a > h1:target {
    color: #bf3e30;
}
#faq > a:nth-of-type(even) h1:target {
    color: #bf308f;
}
#faq ul {
    padding-left: 1.2em;
}
#faq p, #faq li {
    font-size: 16px;
    color: gray;
}
#faq p a, #faq ul a {
    color: silver;
}
#faq p a:hover {
    color: #bf3e30;
}
#faq p:nth-of-type(even) a:hover {
    color: #bf308f;
}